@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --f-all: "Inter", sans-serif;
    --f-weight-400: 400;
    --f-weight-700: 700;
    --f-weight-800: 800;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    width: 100%;
    min-height: 100vh;
    background: hsl(36, 100%, 99%);
}

/* NAVBAR */

nav {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-inline: 180px;
    padding-bottom: 60px;
}

.logo {
    display: flex;
}

.links {
    display: flex;
    column-gap: 48px;
}

.links > a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: 1rem;
}

.links > a:hover {
    color: hsl(35, 77%, 62%);
}

/* MENU + MENU LINKS */

.menu {
    display: none;
    border: 0;
    background: transparent;
}

.menu-links {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: hsla(240, 100%, 5%, 0.6);
    position: fixed;
    display: none;
}

.menu-links-inner {
    top: 0;
    left: 30%;
    background: hsl(36, 100%, 99%);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    padding-left: 40px;
    position: relative;
}

.menu-links-inner > a {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    font-size: max(7vw, 1.5rem);
}

.close-button {
    top: 30px;
    right: 30px;
    position: absolute;
    border: 0;
    background: transparent;
}

/* CONTENT */

main {
    width: 100%;
    padding-inline: 180px;
    padding-bottom: 70px;
}

.main-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

/* GRID LEFT */

.main-grid-left {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.main-grid-left-inner {
    display: flex;
    align-items: center;
}


.main-grid-left-inner > h1 {
    width: 53%;
    font-size: 3.8rem;
    font-weight: var(--f-weight-800);
    line-height: 55px;
    color: hsl(240, 100%, 5%);
}


.main-grid-left-inner > div {
    width: 47%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    box-sizing: border-box;
}

.main-grid-left-inner > div > p {
    color: hsl(236, 13%, 42%);
}

.main-grid-left-inner > div > button {
    width: 180px;
    height: 45px;
    font-size: 0.9rem;
    border: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(36, 100%, 99%);
    background: hsl(5, 85%, 63%);
    cursor: pointer;
    transition: 100ms;
    letter-spacing: 3px;
}

.main-grid-left-inner > div > button:hover {
    background: hsl(240, 100%, 5%);
}

.main-grid-left > img {
    width: 100%;
}

/* GRID RIGHT */

.main-grid-right {
    background: hsl(240, 100%, 5%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.main-grid-right > h1 {
    font-size: 2.5rem;
    color: hsl(35, 77%, 62%);
}

.main-grid-right > hr {
    border-top: 1px solid hsl(240, 100%, 5%);
    border-bottom: 1px solid #a4a5ba;
}

.subtitles {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.subtitles > h2 {
    font-size: 1.3rem;
    color: white;
}

.subtitles > h2:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.subtitles > p {
    color: #a4a5ba;
}

/* BOTTOM GRIDS */

.bottom-grids {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.bottom-grid-one,
.bottom-grid-two,
.bottom-grid-three {
    display: flex;
    height: 130px;
    column-gap: 20px;
}

.inner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-text > h1 {
    color: hsl(233, 8%, 79%);
}

.inner-text > h2 {
    font-size: 1.2rem;
    cursor: pointer;
}

.inner-text > h2:hover {
    color: hsl(5, 85%, 63%);
}

.inner-text > p {
    color: #727176;
    padding-right: 15px;
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {
    main {
        padding-inline: 100px;
    }
    nav {
        padding-inline: 100px;
    }
}

@media (max-width: 1200px) {
    main {
        padding-inline: 20px;
    }
    nav {
        padding-inline: 20px;
    }
}

@media (max-width: 950px) {
    .main-grid-left-inner > h1 {
        font-size: 3rem;
    }
    .subtitles > h2 {
        font-size: 1.1rem;
    }
    .inner-text > h2 {
        font-size: 1rem;
    }
    
    .inner-text > p {
        font-size: 0.8rem;
        padding-right: 15px;
    }
}

@media (max-width: 914px) {
    .main-grid-right {
        row-gap: 15px;
    }
    .main-grid-left-inner > h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 768px) {
    .main-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .main-grid-left-inner {
        flex-direction: column;
        row-gap: 20px;
    }
    .main-grid-left-inner > h1 {
        width: auto;
        text-align: center;
    }
    .main-grid-left-inner > div {
        width: 100%;
        row-gap: 20px;
    }
    .menu {
        display: unset;
    }
    .links {
        display: none;
    }
    nav {
        height: 100px;
        padding-bottom: 0;
        align-items: center;
    }
    .bottom-grids {
        grid-template-columns: 1fr;
        row-gap: 10px;
        margin-top: 30px;
    }
    main {
        padding-bottom: 40px;
    }
    .inner-text {
        justify-content: center;
        row-gap: 10px;
    }
}

@media (max-width: 400px) {
    .menu-links-inner {
        padding-left: 20px;
    }
}